@charset "UTF-8";

body {
  font-family: Arial, sans-serif;
  margin: 50px;
  text-align: center;
}

.styled-button {
  background-color: #3498db;
  color: white;
  padding: 15px 30px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;

  transition: background-color 0.3s ease, transform 0.3s ease;
  transition-delay: 0.1s;
}

.styled-button:hover {
  background-color: #e74c3c;
  transform: scale(1.1);
}