@charset "UTF-8";

.grow-shrink-container {
  display: flex;
  width: 600px;
  height: 100px;
  background-color: #e0f2f7;
  border: 1px solid #81d4fa;
  margin-top: 30px;
}

.gs-item {
  background-color: #81d4fa;
  border: 1px solid #4fc3f7;
  padding: 10px;
  margin: 5px;
  color: white;
  text-align: center;

  line-height: 80px;
  flex-basis: 150px;
}

.gs-item-grow {
  flex-grow: 2;
  background-color: #ffcc80;
}

.gs-item-normal {
  flex-grow: 1;
  background-color: #a7d9b5;
}

.gs-item-shrink {
  flex-shrink: 0;
  background-color: #f7a6a6;
}