.card-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  perspective: 800px;
  margin-top: 50px;
}

.card {
  width: 150px;
  height: 100px;
  background-color: #3498db;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;

  transition: transform 0.5s ease-in-out;
}

.card-1:hover {
  transform: rotateY(30deg);
  background-color: #2980b9;
}

.card-2:hover {
  transform: rotateX(20deg);
  background-color: #2980b9;
}

.card-3:hover {
  transform: rotateZ(10deg);
  background-color: #2980b9;
}